*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
     
}

.container{
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

form{
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    border: 1px solid #ccf;
    outline: 0;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 8px;
}

input[type="submit" ]{
    background-color: chocolate;
    color: #fff;
    border: 1px solid chocolate ;

}

#message{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    width: 550px;
    color: #000;
    position: relative;
    padding: 30px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

@keyframes anime{
    from{ transform: translateY(100px);
    }
}

h3{
   font-size: 16px;
   font-weight: 400; 
}

#message{
    margin-left:7px ;
    padding: 7px 0;
    font-size: 15px;
}

.Invalid{
    color: red;
    position: center;
}

.Invalid::before{
    position: relative;
    left: -7;
   /* content: ;*//
}